# libavg specific
*.cache
core

#libavg dist-check
sphinxdoc/_build
libavg-*.tar.gz
libavg-*.zip

# python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# YouCompleteMe config file
.ycm_extra_conf.py

# vim temp files
*.swp

# PyCharm user specific
.idea

# MSVC
*.vcxproj.user
win/*/Debug/
win/*/Release/
win/Debug/
win/Release/
win/testplugin/version.txt
win/testplugin/build/
win/testplugin/dist/
*/*sdf
*/*.suo
*~

# cmake
build/
*.cmake
CMakeCache.txt
CMakeFiles/
Testing/
